# 忽略 Git 相关
.git

# Python 缓存
__pycache__/
*.pyc
*.pyo
*.pyd

# Node
node_modules/
frontend/node_modules/

# React 构建产物
frontend/build/

# 环境变量
.env
.env.*
frontend/.env

# 日志
*.log

# MacOS
.DS_Store

# 其他
*.sqlite3
*.zip

